*.swp
*.*~
project.lock.json
.DS_Store
*.pyc

# Visual Studio Code
.vscode

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
msbuild.log
msbuild.err
msbuild.wrn

# Visual Studio 2015
.vs/

# Compiled Source
*.com
*.class
*.dll
*.exe
*.o
*.so

# Terraform
.terraform

# directorio local terraform
**/.terraform/*

# local tf state files
*.tfstate
*.tfstate.*

# tf variables files, may include sensitive data
*.tfvars

# Ignore CLI configuration files
.terraformrc
terraform.rc

#Ignore Mac/OSX system file, with the folder metadata
.DS_Store

#Ignore crash logs
crash.log